@font-face {
  font-family: "iconfont"; /* Project id 3683099 */
  src: url('iconfont.woff2?t=1669198267935') format('woff2'),
       url('iconfont.woff?t=1669198267935') format('woff'),
       url('iconfont.ttf?t=1669198267935') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biji:before {
  content: "\e62b";
}

.icon-biaoqian:before {
  content: "\e62c";
}

.icon-heian:before {
  content: "\e630";
}

.icon-dingdan:before {
  content: "\e631";
}

.icon-huaban:before {
  content: "\e632";
}

.icon-huangguan:before {
  content: "\e633";
}

.icon-jiazai:before {
  content: "\e634";
}

.icon-biaozhang:before {
  content: "\e635";
}

.icon-jiesuo:before {
  content: "\e636";
}

.icon-leida:before {
  content: "\e637";
}

.icon-mima:before {
  content: "\e638";
}

.icon-renwuguanli:before {
  content: "\e639";
}

.icon-jiangbei:before {
  content: "\e63a";
}

.icon-jiangpai:before {
  content: "\e63b";
}

.icon-shoucang:before {
  content: "\e63c";
}

.icon-shouqi:before {
  content: "\e63d";
}

.icon-shounahe:before {
  content: "\e63e";
}


.icon-re:before {
  content: "\e640";
}

.icon-xiayibu:before {
  content: "\e641";
}

.icon-shezhi:before {
  content: "\e642";
}

.icon-shouye:before {
  content: "\e643";
}

.icon-xingxing:before {
  content: "\e644";
}

.icon-xiugai:before {
  content: "\e645";
}

.icon-shu:before {
  content: "\e646";
}

.icon-liangse:before {
  content: "\e647";
}

.icon-rili:before {
  content: "\e648";
}

.icon-tongzhi:before {
  content: "\e649";
}

.icon-taiyang:before {
  content: "\e64a";
}

.icon-a-xiugai2:before {
  content: "\e64b";
}

.icon-xunzhang:before {
  content: "\e64c";
}

.icon-pingfen:before {
  content: "\e64d";
}

.icon-qiche:before {
  content: "\e716";
}

.icon-gongsi:before {
  content: "\e717";
}

.icon-biaoji:before {
  content: "\e718";
}

