.warn {
    color: red;
}

.left {
    float: left;
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
}

.center {
    float: left;
    padding: 52px;
}

button {
    margin-top: 18px;
}

.right {
    float: left;
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
}